{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet"></link>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script> 
</head>
<body>
  <h1>Clariture Test</h1>
  <h2 id="question">{{ question }}</h2>
  <ul id="answers">
    {% for choice in choices %} 
      <li>{{choice.choice_text}}</li>
    {% endfor %}
  </ul> 
</body>
</html>
<script type="text/javascript" src="{% static "clariture/app.js"  %}"></script>
